@{
    ViewData["Title"] = "Home Page";
}

<img class="newsletter_svg" src="images/newsletter.svg" alt="Newsletter" width="80" height="45"
    onerror="this.src='newsletter.png'" />
<h1>Newsletter Registration</h1>

<section>
    <h2>Stay in touch</h2>
    <p>
        U market is a heathy food shop that primarily sells fresh food including organic food. We are a local Winnipeg
        store located in downtown. In order to achieve the sustainability, we partnered with local farms and bakeries to
        delivery our products that ensure fresh and low price.<br />
        In order to inform you about our latest products and promotion, please register our newsletter below.
    </p>

    <form id="newsletter_form" class="styled_form" method="post"
        action="http://www.scott-media.com/test/form_display.php" autocomplete="off">

        <fieldset>
            <legend>Personal info</legend>

            <p>
                <label for="first_name">First name:</label>
                <input type="text" name="first_name" id="first_name" maxlength="40" required="required"
                    placeholder="Type your first name" />
            </p>

            <p>
                <label for="last_name">Last name:</label>
                <input type="text" name="last_name" id="last_name" maxlength="40" minlength="5" required
                    placeholder="Type your last name" />
            </p>

            <p>
                <label for="email_address">Email:</label>
                <input type="email" name="email_address" id="email_address" maxlength="40" required="required"
                    placeholder="Type your email address" />
            </p>

            <p>
                <label for="birthday">Birthday (yyyy-mm-dd)</label>
                <input type="date" name="birthday" id="birthday" />
            </p>

        </fieldset>

        <fieldset>
            <legend>Perferences</legend>

            <p>
                Please choose delivery options:<br />
                <input type="radio" name="devlivery_option" id="daily" value="daily" />
                <label for="daily">Daily</label>
                <br />
                <input type="radio" name="devlivery_option" id="weekly" value="weekly" />
                <label for="weekly">Weekly</label>
                <br />
                <input type="radio" name="devlivery_option" id="monthly" value="monthly" />
                <label for="monthly">Monthly</label>
            </p>

            <p>
                <input type="checkbox" name="promotion" id="promotion" value="yes" />
                <label for="promotion">Receive promotion from our partners</label>
            </p>

            <p>
                <select id="language" name="language" size="1">
                    <option value="no language selected">Please select your preferred language</option>
                    <option value="english">English</option>
                    <option value="french">Français</option>
                    <option value="chinese">中文</option>
                </select>
            </p>

        </fieldset>

        <p>
            <input type="submit" id="sendform" value="Subscribe" title="Subscribe Newsletter" /> &nbsp;
            <input type="reset" value="Clear form" title="Clear form" />
        </p>

    </form>
</section>