@{
    ViewData["Title"] = "Promotion Page";
}

<div id="promotion_banner">

    <span id="up_to_text">UP TO</span>
    <span id="percentage_text">50% OFF</span>
    <p>SAVE BIG &amp; GIVE BACK</p>
    <p>10% of profits will be donated to the COVID-19 Solidarity Response Fund for WHO,
        powered by the UN Foundation and Swiss Philanthropy Fundation</p>
    <a href="#">Shop Now</a>
</div>

<h1>Most Exciting Deals when Shopping in U Market</h1>

<section>
    <p>We provides the best deals in the market. Every month we have new promotion that you don't want to miss.
        You will also find our new products, which you may be interested.</p>

    <h2>Monthly special</h2>

    <table id="discount">
        <tr>
            <th colspan="2">More you shop, more you save!</th>
        </tr>

        <tr>
            <td>Over $100</td>
            <td>10% off</td>
        </tr>
        <tr>
            <td>Over $200</td>
            <td>20% off</td>
        </tr>
        <tr>
            <td>Over $300</td>
            <td>30% off</td>
        </tr>
        <tr>
            <td>Over $800</td>
            <td>50% off</td>
        </tr>
    </table>

</section>
