@{
    ViewData["Title"] = "Home Page";
}

<h1>Best products in the market</h1>

<section id="products_list">
    <h2>Choose the product right for you</h2>

    @if (Model != null)
    {
        var added = false;
        foreach (var t in Model)
        {
            <div>
                <img src="images/products/@t.image_filename" alt="@t.name" width="200" height="200" />
                <strong>@t.name</strong>
                <i>$@t.unit_price</i>
            </div>
            added = true;
        }

        if (!added)
        {
            <div>
                <strong>No product found.</strong>
            </div>
        }
    }
    
</section>