@{
    ViewData["Title"] = "Home Page";
}

<div id="slider">

    <span id="slide_left">&lt;</span>
    <span id="slide_right">&gt;</span>
    <img src="images/sale2.jpg" alt="Sales" width="660" height="384" />

</div>


<h1>Most Popular Categories for Organic Food</h1>

<div class="callouts">

    <div class="callout">

        <h2>Fruit and Vegtable</h2>
        <img src="images/fruit_vegetable_small2.jpg" alt="Fruit and Vegtable" width="320" height="212" />

    </div>

    <div class="callout">

        <h2>Diary and Eggs</h2>
        <img src="images/Dairy_eggs_small2.jpg" alt="Diary and Eggs" width="320" height="212" />

    </div>

    <div class="callout">

        <h2>Bakery</h2>
        <img src="images/Bakery_small2.jpg" alt="Bakery" width="320" height="212" />

    </div>

</div><!-- /#callouts -->

<div class="callouts">

    <div class="callout">

        <h2>Drinks</h2>
        <img src="images/drinks2.jpg" alt="Drinks" width="320" height="212" />

    </div>

    <div class="callout">

        <h2>Meat and Seafood</h2>
        <img src="images/meat_seafood2.jpg" alt="Meat and Seafood" width="320" height="212" />

    </div>

    <div class="callout">

        <h2>International Food</h2>
        <img src="images/International_food2.jpg" alt="International Food" width="320" height="212" />

    </div>

</div><!-- /#callouts -->

<section>

    <p>U Market is a rapidly growing organic food platform. Our products are packed with nutrients, pre-portioned and
        freezer ready.
        Our products range from vegetables to drink to meat. We have all of the groceries you need to fill your fridge,
        pantry &amp; tummy made by local food producers! To provide more choices for you, we have imported different
        international foods that are tasty and healthy. </p>

</section>
