@{
    ViewData["Title"] = "Home Page";
}

<h1>We're Here to Help.</h1>

<section>
    <p class="support_text" style="width: 40%;">
        Whether you need help picking up your healthy food or tracking you order,
        our Remote Support Agents are available to give customer support 24/7 online or over the phone.
    </p>
    <img id="customer_service" src="images/customer_service.jpg" alt="Customer Support" width="500" height="239" />
</section>

<section id="help">

    <div>
        <img id="agent_phone" src="images/agent_phone.png" alt="Agent Phone" width="300" height="211" />
        <h2>Chat with an Agent</h2>
        <p>
            Our Agents are available online 24/7 to help with your remote support needs such as new
            products, ordering, and so much more.
        </p>
    </div>

    <div>
        <img id="search" src="images/search.png" alt="Search" width="300" height="211" />
        <h2>Track your order</h2>
        <p>
            Check the status of your order and keep an eye on it every step of the way.
        </p>
    </div>

    <div>
        <img id="shop" src="images/shop.png" alt="Shop" width="300" height="211" />
        <h2>Visit our shop near you</h2>
        <p>
            Visit a U Market near you to get help from an in-store agent.
        </p>
    </div>

</section>